@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'DejaVu Sans';
  src: url('./fonts/DejaVuSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('./fonts/DejaVuSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}